<p id="notice"><%= notice %></p>
<% require 'net/http'
require 'json'

url = 'http://localhost:3000/markets'
uri = URI(url)
markets = Net::HTTP.get(uri)
hmarkets = JSON.parse(markets)

url = 'http://localhost:3000/rates'
uri = URI(url)
rates = Net::HTTP.get(uri)
hrates = JSON.parse(rates)

url = 'http://localhost:3000/currencies'
uri = URI(url)
currencies = Net::HTTP.get(uri)
hcurrencies = JSON.parse(currencies)

rcurrencies = hcurrencies.reverse

%>

<h1>Calculator</h1>
<p>Currency </p>
<form onchange="myFunction()">
  <select id="market">
    <%hmarkets.each do |mar| %>
    <option>
        <% if mar["base_currency_id"] < mar["quoted_currency_id"] %>
          <% hcurrencies.each do |curr| %>
            <% if curr["id"] == mar["base_currency_id"] %>
            <%= curr["currency_name"] %> /
            <% end %>
            <% if curr["id"] == mar["quoted_currency_id"] %>
            <%= curr["currency_name"] %>
            <% end %>
          <% end %>
          <% end %>

<% if mar["base_currency_id"] > mar["quoted_currency_id"] %>
    <% rcurrencies.each do |rcurr| %>
        <% if rcurr["id"] == mar["base_currency_id"] %>
          <%= rcurr["currency_name"] %> /
          <% end %>
          <% if rcurr["id"] == mar["quoted_currency_id"] %>
            <%= rcurr["currency_name"] %>
          <% end %>
          <% end %>
          <% end %>
    </option>
    <% end %>
      </select>
      <p id="bc"></p>
      <br><input type="text" name="bcurrency" id="bcurr" >
      <br>
      <br>
      <p id="qc"></p>
      <input type="text" name="qcurrency" id="qcurr" >
    </form>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>



<script>
function myFunction() {

  var y = <%= hrates[0]["price"] %>;
  var x = (document.getElementById("market").value).split(" / ");
  var bc_id = x[0];
  var qc_id = x[1];
  <%hcurrencies.each do |cur| %>
  <% if cur["currency_name"] == bc_id %>
  <%= document.getElementById("qcurr").value = cur["id"]; %>
    <% end %>
    <% end %>

  document.getElementById("bcurr").value = x;
  document.getElementById("bc").innerHTML = bc_id;
  document.getElementById("qc").innerHTML = qc_id;
}
</script>