<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>

  <script>$(document).ready(function(){
    myFunction();
  });</script>

<p id="notice"><%= notice %></p>
<% require 'net/http'
require 'json'

url = 'http://localhost:3000/markets'
uri = URI(url)
markets = Net::HTTP.get(uri)
hmarkets = JSON.parse(markets)

url = 'http://localhost:3000/rates'
uri = URI(url)
rates = Net::HTTP.get(uri)
hrates = JSON.parse(rates)

url = 'http://localhost:3000/currencies'
uri = URI(url)
currencies = Net::HTTP.get(uri)
hcurrencies = JSON.parse(currencies)

rcurrencies = hcurrencies.reverse

%>

<h2 align="center">Calculator</h2>

<form onchange="myFunction()">
  <div class="form-group">
    <label>Currency </label>
  <select id="market" class="form-control">
    <%hmarkets.each do |mar| %>
    <option>
        <% if mar["base_currency_id"] < mar["quoted_currency_id"] %>
          <% hcurrencies.each do |curr| %>
            <% if curr["id"] == mar["base_currency_id"] %>
            <%= curr["currency_name"] %> /
            <% end %>
            <% if curr["id"] == mar["quoted_currency_id"] %>
            <%= curr["currency_name"] %>
            <% end %>
          <% end %>
          <% end %>

<% if mar["base_currency_id"] > mar["quoted_currency_id"] %>
    <% rcurrencies.each do |rcurr| %>
        <% if rcurr["id"] == mar["base_currency_id"] %>
          <%= rcurr["currency_name"] %> /
          <% end %>
          <% if rcurr["id"] == mar["quoted_currency_id"] %>
            <%= rcurr["currency_name"] %>
          <% end %>
          <% end %>
          <% end %>
    </option>
    <% end %>
      </select>
    </div>
    <div class="form-group">
      <label id="bc"></label>
      <input type="number" class="form-control" name="bcurrency" value="1" id="bcurr" oninput="basec()">
    </div>
      <div class="form-group">
      <label id="qc"></label>
      <input type="number" class="form-control" name="qcurrency" id="qcurr"  oninput="quoted()">
    </div>
    </form>

<script>
  var rate;
function myFunction() {
  var x = (document.getElementById("market").value).split(" / ");
  var bc_id = x[0];
  var qc_id = x[1];
  document.getElementById("bc").innerHTML = bc_id;
  document.getElementById("qc").innerHTML = qc_id;


  var request = new XMLHttpRequest();

  request.open('GET', 'http://localhost:3000/currencies', true);
  request.onload = function () {

  // Begin accessing JSON data here
  var cdata = JSON.parse(this.response);

  var request2 = new XMLHttpRequest();

  request2.open('GET', 'http://localhost:3000/rates', true);
  request2.onload = function () {


  // Begin accessing JSON data here
  var rdata = JSON.parse(this.response);

  var request3 = new XMLHttpRequest();

request3.open('GET', 'http://localhost:3000/markets', true);
request3.onload = function () {

  // Begin accessing JSON data here
  var mdata = JSON.parse(this.response);


  cdata.forEach(getcid);
  var bid;
  var qid;
  var mid;
  


  function getcid(cobj){
    if (cobj["currency_name"] == x[0]){
      bid = cobj["id"];
    }
    if (cobj["currency_name"] == x[1]){
      qid = cobj["id"];
    }

  }
      mdata.forEach(getmid);
    function getmid(mobj){
      if ((mobj["base_currency_id"] == bid) && (mobj["quoted_currency_id"] == qid)){
        mid = mobj["id"];
      }


      rdata.forEach(getrate);
      function getrate(robj){
        if (robj["market_id"] == mid){
          rate = robj["price"];
        }
      }
      rate = rate/100 + 1;
      basec();
      }
  }

  request3.send();
}
request2.send();
  }

request.send();
}
function basec(){
      var bamount = document.getElementById("bcurr").value;
      var amount = bamount * rate;
      document.getElementById("qcurr").value = amount;}


      function quoted(){
        var qamount = document.getElementById("qcurr").value;
        var amount = qamount / rate;
      document.getElementById("bcurr").value = amount;}  
  </script>