
<p id="notice"><%= notice %></p>
<% require 'net/http'
require 'json'

url = 'http://localhost:3000/markets'
uri = URI(url)
markets = Net::HTTP.get(uri)
hmarkets = JSON.parse(markets)

url = 'http://localhost:3000/rates'
uri = URI(url)
rates = Net::HTTP.get(uri)
hrates = JSON.parse(rates)

url = 'http://localhost:3000/currencies'
uri = URI(url)
currencies = Net::HTTP.get(uri)
hcurrencies = JSON.parse(currencies)

rcurrencies = hcurrencies.reverse

%>

<div class="container">
  <h2>Market Insights</h2>
  <p>last updated <%= hrates[0]["updated_at"] %></p>            
  <table class="table">
    <tbody>
<%hmarkets.each do |mar| %>
    <tr>
        <td><strong> <% if mar["base_currency_id"] < mar["quoted_currency_id"] %>
          <% hcurrencies.each do |curr| %>
            <% if curr["id"] == mar["base_currency_id"] %>
            <%= curr["currency_name"] %> /
            <% end %>
            <% if curr["id"] == mar["quoted_currency_id"] %>
            <%= curr["currency_name"] %>
            <% end %>
          <% end %>
          <% end %>

<% if mar["base_currency_id"] > mar["quoted_currency_id"] %>
    <% rcurrencies.each do |rcurr| %>
        <% if rcurr["id"] == mar["base_currency_id"] %>
          <%= rcurr["currency_name"] %> /
          <% end %>
          <% if rcurr["id"] == mar["quoted_currency_id"] %>
            <%= rcurr["currency_name"] %>
          <% end %>
          <% end %>
          <% end %>
        </strong></td>
        <td><% hrates.each do |rate| %>
                <% if rate["market_id"] == mar["id"] %>
                    <strong><%= rate["price"] %>%</strong>
                <% end %>
            <% end %>
        </td>
    </tr>
    <% end %>
    </tbody>
    <tr></tr>
  </table>
</div>
