
<p id="notice"><%= notice %></p>
<% require 'net/http'
require 'json'

url = 'http://localhost:3000/markets'
uri = URI(url)
markets = Net::HTTP.get(uri)
hmarkets = JSON.parse(markets)

url = 'http://localhost:3000/rates'
uri = URI(url)
rates = Net::HTTP.get(uri)
hrates = JSON.parse(rates)

url = 'http://localhost:3000/currencies'
uri = URI(url)
currencies = Net::HTTP.get(uri)
hcurrencies = JSON.parse(currencies)

rcurrencies = hcurrencies.reverse

%>

<div class="container">
  <h2>Market Insights</h2>
  <p>last updated <%= hrates[0]["updated_at"] %></p>            
  <table class="table">
    <tbody>
<%
    hmarkets.each do |doc| %>
    <tr>
        <td> <% if doc["base_currency_id"] < doc["quoted_currency_id"] %>
          <% hcurrencies.each do |curr| %>
            <% if curr["id"] == doc["base_currency_id"] %>
            <%= curr["currency_name"] %> /
            <% end %>
            <% if curr["id"] == doc["quoted_currency_id"] %>
            <%= curr["currency_name"] %>
            <% end %>
          <% end %>
          <% end %>

          <% if doc["base_currency_id"] > doc["quoted_currency_id"] %>
          <% rcurrencies.each do |curr2| %>
            <% if curr2["id"] == doc["base_currency_id"] %>
            <%= curr2["currency_name"] %> /
            <% end %>
            <% hcurrencies.each do |curr3| %>
            <% if curr3["id"] == doc["qouted_currency_id"] %>
            <%= curr3["currency_name"] %> /
            <% end %>
          <% end %>
          <% end %>
          <% end %>
        </td>
        <td><% hrates.each do |rate| %>
                <% if rate["market_id"] == doc["id"] %>
                    <%= rate["price"] %>%
                <% end %>
            <% end %>
        </td>
    </tr>
    <% end %>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</div>



<p> <%= hmarkets %> </p>
<p> <%= hcurrencies %> </p>
<p> <%= hrates %> </p>


<p> <%= rcurrencies %> </p>
